NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_OPENWEATHER_API_KEY=YOUR_OPENWEATHER_API_KEY
FORMSPREE_ID=YOUR_FORMSPREE_ID
MONGODB_URI=YOUR_MONGODB_CONNECTION_STRING
MONGODB_DB=YOUR_DB_NAME
ADMIN_KEY=YOUR_ADMIN_KEY